body
{
font-size: 135%;
}

a
{
    color: darkslategrey;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    font-size: 40px;
}

h1
{
 background-color: lightgray;
}

.col-10
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.col-8
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.col-7
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.col-6
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.col-4
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.col-3
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.col-2
{
    border-right: solid #d7d9db;
    border-bottom: solid #d7d9db;
    border-top: solid #d7d9db;
    border-left: solid #d7d9db;
    padding: 20px;
    margin-bottom: 3px;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}