{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>GitHub Actions</h1>
                    <p>My project is using GitHub actions to test my changes,
                       upload my docker container to DockerHub, and send my
                        project to my production environment on Heroku. First
                        my changes I made are tested by pytest to verify there
                        wasn't any errors. Then my docker container is created
                        in GitHub Actions, so it can be uploaded directly to DockerHub.
                        Finally, my app will be uploaded to Heroku using the Heroku API
                        where the app will be pushed into a production environment.</p>
                </div>
                <div class="col-4" style="...">
                    <h1>Review Code before Merging</h1>
                    <p>I am able to use my local docker container as a development server
                        to review my code. The docker container is instantly updating the
                        changes I make when I save the files I am working on. This allows
                        me to see my changes in real-time to verify my changes worked properly
                        before I merge pull requests.</p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Deploying Master to Production</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Deploy an Image to Dockerhub</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Repositories</h1>
                    <p></p>
                </div>
            </div>

        </div>
{% endblock %}