{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
            <div class="row" style="...">
                <div class="col-8" style="border-right: solid #d7d9db;padding: 20px;border-bottom: solid #d7d9db">
                    <h1>Containers</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Images</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="border-right: solid #d7d9db;padding: 20px;border-bottom: solid #d7d9db">
                    <h1>DockerHub</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Docker Commands</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                    <h1>Docker In The Terminal</h1>
                    <p></p>
                </div>
            </div>

        </div>
{% endblock %}