{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
            <div class="row">
                <img src="../static/images/dockerIMG1.png" class="center" >
            </div>
            <div class="row" style="...">
                <div class="col-6" style="border-right: solid #d7d9db;padding: 20px;border-bottom: solid #d7d9db">
                    <h1>Images</h1>
                    <p>A docker is image is a configuration file for docker containers.
                    Docker images are like a list of instructions that are completed
                    in order to build a docker container. This docker image can be used
                    to build as many docker containers as you like. Also, another way
                    to look at docker images is to think of them as a snapshot of a
                    virtual machine.</p>
                </div>
                <div class="col-6" style="...">
                    <h1>Containers</h1>
                    <p>A docker container is a lightweight, standalone application that
                    is based off the instructions from a docker image. The docker container
                    will have the bare minimum of configuration and dependencies installed
                    to get its desired application running. The greatest benefit of
                    containers is they take much less hardware to run than VMs which allows
                    you to run much more containers than VMs.</p>
                </div>
            </div>

            <div class="row" style="...">
                <div class="col-6">
                    <h1>Docker In The Terminal</h1>
                    <p></p>
                </div>
                <div class="col-5">
                    <img src="../static/images/dockerIMG2.png" style="max-width: 123%" >
                </div>
            </div>

            <div class="row" style="...">
                <div class="col-6" style="...">
                    <h1>Docker Commands</h1>
                    <ul>
                        <li>"docker -version": This command will get the current installation version of docker.</li>
                        <li>"docker pull": This command is used to pull docker images from a dockerhub repository.</li>
                        <li>"docker run": This command is used to run a docker image that you specify as an option.</li>
                        <li>"docker ps": This command will list all running docker containers with their container ID.</li>
                        <li>"docker exec": This command will allow you to enter a running docker container to access it files.</li>
                        <li>"docker kill": This command along with container ID will stop the docker container that has the matching container ID.</li>
                        <li>"docker images": This command will list all docker images stored on your system.</li>
                        <li>"docker rm": This command along withe container ID will delete a stopped docker container.</li>
                        <li>"docker rmi": This command along with image ID will delete the image from your local storage.</li>
                    </ul>

                </div>
            </div>

            <div>
                <a href="https://hub.docker.com/repository/docker/keithcicala123/is218project1">Docker Hub Link</a>
            </div>

        </div>
{% endblock %}