{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Branches</h1>
                    <p>Branches are repositories that are not connected to your production
                    environment. This allows you to develop the application, fix bugs,
                        or add new features without making it public. Usually, you will
                    branch off from your main branch in your repository but it is also
                    possible to make branches from another branch. </p>
                </div>
                <div class="col-4" style="...">
                    <h1>Merge</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Commit</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Tags</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Repositories</h1>
                    <p></p>
                </div>
            </div>

        </div>
{% endblock %}