{% extends "base.html" %}
{% block content %}

    <div class="container-lg">
            <div class="row" style="...">
                <div class="col-6" style="...">
                    <h1>Branches</h1>
                    <p>Branches are repositories that are not connected to your production
                    environment. This allows you to develop the application, fix bugs,
                        or add new features without making it public. Usually, you will
                    branch off from your main branch in your repository but it is also
                    possible to make branches from another branch. </p>
                </div>
                <div class="col-6" style="...">
                    <h1>Merge</h1>
                    <p>A merge allows you to bring back consistency when multiple people
                    are working on a different branches of the same repository. Eventually
                    you will want to bring the code from those branches back to the same branch.
                    Merge will do this by finding base code that matches each branch and commit
                    the new features from both branches into the main branch.</p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-6" style="...">
                    <h1>Commit</h1>
                    <p>A commit is usually a single change you make to a file or set of files.
                    You typically want to make minor changes and commit them to the repository
                    to make sure the changes are working properly. Most importantly commits are
                     used to save your work and the commits will be given unique IDs. These IDs
                    will have information on when and who committed the changes. </p>
                </div>
                <div class="col-3" style="...">
                    <h1>Tags</h1>
                    <p>Tags are associated with commits and the tags are used to mark a certain
                    point in your repository. Normally, this tag will be related to the version
                     number of your application. </p>
                </div>
                <div class="col-3" style="...">
                    <img src="../static/images/gitIMG1.png" style="max-width: 100%">
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-6" style="...">
                    <h1>Repositories</h1>
                    <p>Repositories on GitHub are similar to directories on your local computer
                        since you save files to a directory in both. However, the biggest difference
                    is that GitHub hosts your files in a cloud based directory. The GitHub
                        repositories can be accessed by any device that has proper credentials
                        to your GitHub repository.</p>
                </div>
                <div class="col-6" style="...">
                     <img src="../static/images/gitIMG2.png" style="max-width: 100%" class="center">
                </div>
            </div>

        </div>
{% endblock %}