{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
        <div class="row" style="...">
            <div class="col-8" style="...">
                <h1>Glossary of OOP</h1>
                <ol>
                    <li>
                        Instatiation - Instatiation can be described as the process of taking a class
                        definition and creating an object from that class, so you can use it
                        in your program.
                    </li>
                    <li>
                        Object - An object is an instance of a class. This object will usually contain
                        methods to manipulate the object and different data types that make the object
                        useful for your program.
                    </li>
                    <li>
                        Class - A class is like a blueprint or in technical terms a list of instructions
                        to build an object.
                    </li>
                    <li>
                        Namespace - A namespace is a collection of currently defined symbolic names
                        along with information about the object that each name references. A good way
                        to understand namespaces is thinking of them as python dictionaries where the
                        keys are the objects names and the values are the actual objects.
                    </li>
                    <li>
                        Constructor - A constructor is a method for a class that will initialize a recently
                        created object that is from that class. The constructor method is automatically
                        called whenever an object is created.
                    </li>
                    <li>
                        Fixture - A fixture provides a defined, reliable and consistent context for a test.
                        The fixtures can provide a list of steps and data that is capable is testing your
                        program's code.
                    </li>
                    <li>
                        Type Hint - A type hint method for an object allows us to force the object to
                        accept any data type that we wish.
                    </li>
                    <li>
                        Type Cast - A type cast is used to change an object data type, so a function in
                        your program will handle the object correctly.
                    </li>
                    <li>
                        Unit Test - A unit test is a program that is used to test a class. The test will
                        make sure the class is working properly before it can be used in your program.
                    </li>
                    <li>
                        Static - A static means that this particular attribute belongs to a type
                        of itself, rather than to an instance of that data type.
                    </li>
                    <li>
                        Instance Method - An instance method is a method that belongs to an instance of a class
                        but not to the class itself.
                    </li>
                    <li>
                        Instance Property - An instance property is an attribute that is unique to an
                        instance of a class. This attribute is only inside that particular instance
                        of whatever class it came from.
                    </li>
                    <li>
                        Static Method - A static method is a method that belongs to a class instead of an instance of a class.
                        The method is accessible to any instance of that class but methods defined an
                        instance can only be accessed by that object of a class.
                    </li>
                    <li>
                        Static Property - A static property is an attribute that is unique to the
                        whole class instead of a particular instance of that class.
                    </li>
                    <li>
                        Encapsulation - Encapsulation is when objects keep their states private
                        and other objects don't have direct access. Other objects must call
                        the public functions of these objects to manipulate its values.
                    </li>
                    <li>
                        Inheritance - Inheritance is when you create a child class by deriving from
                        another parent class. The child reuses the fields and methods from the
                        parent. Then this child class can use its own unique fields and methods.
                    </li>
                    <li>
                        Polymorphism - Polymorphism gives a way to use a class exactly like its
                        parent class, so there is no confusion with mixing types. For example,
                        three objects can all be of the same type with the same methods but
                        each object's methods will solve its problem uniquely.
                    </li>
                    <li>
                        Abstraction - Abstraction is when each object only exposes a high level
                        mechanism for using it, this mechanism should only reveal operations
                        relevant to other objects.
                    </li>
                    <li>
                        Overview of SOLID - SOLID is an acronym for the five object-oriented design
                        principles. These design principles allow for best use practices that help
                        with developing software to make it easier maintain the project in the
                        long run.
                    </li>
                    <li>
                        Overview of Design Patterns - Design patterns are the best practices used by
                        experienced object-oriented programmers. This practice can be solutions to
                        a general problem that programmers may come across when developing software.
                    </li>
                </ol>
            </div>
            <div class="col-4" style="...">
                <img src="../static/images/glossary5.webp" style="max-width: 100%">
                <p></p>
                <img src="../static/images/glossary1.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/glossary2.jpg" style="max-width: 100%">
                <p></p>
                <img src="../static/images/glossary3.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/glossary6.jpg" style="max-width: 100%">
                <p></p>
                <img src="../static/images/glossary4.png" style="max-width: 100%">
            </div>
        </div>
    </div>
{% endblock %}