{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
        <div class="row" style="...">
            <div class="col-6" style="...">
                <h1>Glossary of OOP</h1>
                <ol>
                    <li>
                        Instatiation -
                    </li>
                    <li>
                        Object -
                    </li>
                    <li>
                        Class -
                    </li>
                    <li>
                        Namespace -
                    </li>
                    <li>
                        Constructor -
                    </li>
                    <li>
                        Fixture -
                    </li>
                    <li>
                        Type Hint -
                    </li>
                    <li>
                        Type Cast -
                    </li>
                    <li>
                        Unit Test -
                    </li>
                    <li>
                        Static -
                    </li>
                    <li>
                        Instance Method -
                    </li>
                    <li>
                        Instance Property -
                    </li>
                    <li>
                        Static Method -
                    </li>
                    <li>
                        Static Property -
                    </li>
                    <li>
                        Encapsulation -
                    </li>
                    <li>
                        Inheritance -
                    </li>
                    <li>
                        Polymorphism -
                    </li>
                    <li>
                        Abstraction -
                    </li>
                    <li>
                        Overview of SOLID -
                    </li>
                    <li>
                        Overview of Design Patterns -
                    </li>
                </ol>
            </div>
            <div class="col-6" style="...">
                <h1>Calculator Program Demonstrating OOP</h1>
                <p>I created five simple pages to produce content for my web page.
                    I used the same template for most of my content pages by using
                    rows and columns to evenly divide up the html pages. Then I used
                    headers, paragraphs, images, and unordered lists to fill in the
                    content on my pages. I tested my simple pages by using pytest to
                    check if the page returns a 200 server message. If it returns a
                    200 server message that means the simple page didn't have any errors.</p>
            </div>
        </div>
    </div>
{% endblock %}