{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
        <div class="row" style="...">
            <div class="col-8" style="...">
                <h1>Pylint</h1>
                <p>Pylint is a Python code analysis tool which can help look for programming
                    errors, helps enforce a coding standard, it looks for code smells, and
                    offers refactoring suggestions for your project. Pylint is very
                    configurable since it has a very large configuration file with many
                    options to look for errors and give you warnings in your code. </p>
                <h1>Pytest</h1>
                <p>Pytest is a testing framework that is customizable by the user and allows
                    the user to write unit tests in the python programming language.
                    Pytest is a great option for writing simple tests and scalable tests
                    that interact with databases, APIs, or UIs. Although, you would usually
                    use pytest to conduct simple tests it is also possible to create
                    complex functional tests.</p>
                <h1>Pytest Testing the Calculator</h1>
                <p>I used pytest to unit test my calculator program. To make sure the calculator
                    was working properly. I did this by using the AAA testing method. First, I arranged
                    the values I wanted to test the calculator program with. Then I acted on these
                    values by calling the classes inside the operations file to get a value
                    back for the next step. Finally, I asserted the value from the calculator
                    program to the values I expected the program to return. My calculator program
                    worked properly and my asserted values were correct.</p>
                <a href="https://www.guru99.com/pytest-tutorial.html">Reference Page</a>
            </div>
            <div class="col-4" style="...">
                <img src="../static/images/pylintPy.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/pylintTest.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/pylintTest2.png" style="max-width: 100%">
                <p style="font-style: italic">This image shows my pytest file that tests my
                        calculator to make sure the code the calculator is
                        using works properly.</p>
            </div>
        </div>
    </div>
{% endblock %}