{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
            <div class="row" style="...">
                <div class="col-8" style="border-right: solid #d7d9db;padding: 20px;border-bottom: solid #d7d9db">
                    <h1>Testing with Pytest</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Simple Pages and Testing</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="border-right: solid #d7d9db;padding: 20px;border-bottom: solid #d7d9db">
                    <h1>GitHub and Flask</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Flask Testing with PyTest</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="border-right: solid #d7d9db;padding: 20px">
                    <h1>Directories and Files</h1>
                    <p></p>
                </div>
            </div>

        </div>
{% endblock %}