{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Testing with Pytest</h1>
                    <p></p>
                </div>
                <div class="col-4" style="...">
                    <h1>Simple Pages and Testing</h1>
                    <p></p>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>GitHub and Flask Links</h1>
                    <ul>
                        <li><a href="https://github.com/kmc63/is218project1">GitHub Link</a></li>
                        <li><a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/">Flask Blueprint Documentation</a></li>
                        <li><a href="https://flask.palletsprojects.com/en/2.0.x/testing/">Flask Testing with PyTest</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" style="...">
                <div class="col-8" style="...">
                    <h1>Directories and Files</h1>
                    <p></p>
                </div>
            </div>

        </div>
{% endblock %}