{% extends "base.html" %}
{% block content %}
    <div class="container-lg">
        <div class="row" style="...">
            <div class="col-8" style="...">
                <h1>What is SOLID and Design Patterns?</h1>
                <p>SOLID is an acronym for the five object-oriented design
                    principles. These design principles allow for best use practices that help
                    with developing software to make it easier maintain the project in the
                    long run.</p>
                <h1>Single Responsibility Principle</h1>
                <p></p>
                <h1>Open-Closed Principle</h1>
                <p></p>
                <h1>Liskov Substitution Principle</h1>
                <p></p>
                <h1>Interface Segregation Principle</h1>
                <p></p>
                <h1>Dependency Inversion Principle</h1>
                <p></p>
                <p>Design patterns are the best practices used by
                    experienced object-oriented programmers. This practice can be solutions to
                    a general problem that programmers may come across when developing software.</p>


            </div>
            <div class="col-4" style="...">
                <img src="../static/images/glossary3.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/aaaTes.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/aaaTes.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/aaaTes.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/aaaTes.png" style="max-width: 100%">
                <p></p>
                <img src="../static/images/aaaTes.png" style="max-width: 100%">
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}